body{
    background:#C4D7B2;
    height:100vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    margin-left: 0%;
    margin-right: 550px;
    font-size: 28px;
  font-family: 'georgia';
  font-weight: bold;
}

#wrappers{
    position: relative;
    width: 600px;
    height: 500px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px -25px 117px -20px rgba(126,211,33,1),
0px 25px 20px -20px rgba(0,0,0,0.45);
    background:#F6FFDE;
}
#Boxes{
    margin-left: 170px;
    margin-top: 80px;
}
/* #wrapper:hover{
    scale:1.05;
    box-shadow: 0 0 20px rgb(9,52,6);
}
#wrappers:hover .Boxes{
    animation:slideIn 1.45 ease-in-out forwards;
}
.cover{
    width:100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left:0;
    background: rgb(9,52,6);
    display:flex;
    flex-direction: column;
    align-items: center;
}
#Boxes{
    position: absolute;
    background: white;
    color: black;
    z-index: 3;
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -300px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    margin-left: 120px;
    
}
.cell {
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}  
.cell:active {
    outline: black;
}
/* 3*3 Grid */
.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
}

.cell {
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}  
.cell:active {
    outline: none;
}
/* 3*3 Grid */
#b1{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(15, 15, 15);
    border-radius: 20px;
}
  
#b2 {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(2, 2, 2);
    border-left: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
}
  
#b3 {
    border-bottom: 1px solid rgb(8, 8, 8);
    border-left: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
  
#b4 {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(10, 10, 10);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
      
#b5 {
    border: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
}
  
#b6 {
    border-top: 1px solid rgb(10, 10, 10);
    border-bottom: 1px solid rgb(10, 10, 10);
    border-left: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
}
  
#b7 {
    border-top: 1px solid rgb(10, 10, 10);
    border-right: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
}
  
#b8 {
    border-top: 1px solid rgb(10, 10, 10);
    border-right: 1px solid rgb(10, 10, 10);
    border-left: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
}
  
#b9 {
    border-top: 1px solid rgb(10, 10, 10);
    border-left: 1px solid rgb(10, 10, 10);
    border-radius: 20px;
}


.but{
    color: #000000;
    transition: all 0.5s;
    position: relative;
  }
  .but::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #96C291;
    transition: all 0.3s;
  }
  .but:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .but::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #8EAC50;
    transform: scale(1.2,1.2);
  }
  .but:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

.but{
    margin-top: 20px;
    width: 100px;
    height: 40px;
}
#print{
    font-size: 18px;
  font-family: 'georgia';
  font-weight: bold;
}